p a { color: #BE7A40; }
h1 { font: 20px "Georgia"; color: #666; }
p, ul { font: 13px "Lucida Grande", "Verdana"; color: #333; }
#back a { font-size: 11px; }
#demo { margin: 40px 70px 70px; }
h2 { font: 18px "Georgia"; color: #666; margin-top: 0; }
h3 { font: 13px "Lucida Grande", "Verdana"; color: #999; text-transform: uppercase; font-weight: bold; }
#slideshow-options ul { padding: 0; }
#slideshow-options ul li { list-style-type: none; display: inline; padding-right: 0; }